.banner {
    background-image: url(../../assets/img/photo.png);
    height: 800px;
    background-repeat: no-repeat;
    background-size: auto;
    border-bottom: 10px solid #000;
    background-position: right;
    padding-top: 214px;
    padding-left: 77px;
}

.banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 705px;
}

.banner .box {
    margin-bottom: 24px;
}

.banner .navigation {
    display: flex;
    justify-content: space-around;
}