.card-project {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: #FFF;
    width: 280px;
    height: 280px;
    font-family: 'Press Start 2P', sans-serif;
}

.card-project.-blue {
    background-color: #4C5B84;
}