.card-project {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: #FFF;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
    color: #FFF;
}

.card-project .logo {
    background-color: #7C5E99;
    width: 280px;
    height: 280px;
}