.card-project {
    display: flex;
    background-color: #7C5E99;
    width: 280px;
    height: 280px;
    align-items: center;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
    color: #FFF;
}