.main-header {
    display: flex;
    justify-content: space-between;
    background-color: red;
    border-bottom: 10px solid black;
    padding: 10px 20px 10px 10px;
}

.main-header .foto {
    width: 60px;
    height: 60px;
}