.main-footer {
    background-color: black;
}
.main-footer .logo-git {
    display: flex;
    align-items: center;
    height: 48px;
    padding-left: 1px;
    padding-right: 1px;
    background-color: white;
}