.main-footer {
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.main-footer .logo-git {
    display: flex;
    align-items: center;
    height: 48px;
    width: 48px;
    background-color: white;
}