.main-footer {
    background-color: black;
}
.main-footer .logo {
    display: flex;
    align-items: center;
    height: 140px;
    border: 5px solid #000;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ceb02a;
    box-sizing: border-box;
}