.main-banner {
    box-sizing: border-box;
    background-image: url(../../assets/img/photo.png);
    height: 800px;
    background-repeat: no-repeat;
    background-size: auto;
    border-bottom: 10px solid #000;
    background-position: right;
    background-color: #252E7E;
    
}

.main-banner .wrapper {
    display: inline-flex;
    flex-direction: column; 
}

.main-banner .main-box {
    margin-top: 214px;
    margin-left: 77px;
    margin-bottom: 24px;
}

.main-banner .navigation {
    display: inline-flex;
    justify-content: space-around;
    margin-left: 77px;
}