.main-section {
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #828282;
    background-color: #BA1F33;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgblack {
    background-color: black;
}

.main-section.-sobre {
    border-bottom: black;
}
