.progress-bar {
    box-sizing: border-box;
    background-color: #fff;
    border: 5px solid #000;
    height: 40px;
    border-radius: 100 100 100 100;
}

.progress-bar::-webkit-progress-bar,
.progress-bar::-moz-progress-bar {
    box-sizing: border-box;
    background-color: #828282;
   border-radius: 100 100 100 100;
}